* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', sans-serif;
}

body {
    background-color: #606060;
}

main {
    width: 90%;
    max-width: 600px;
    background-color: #15222f;;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

main h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.buttons img:nth-child(2) {
    width: 80px;
}